<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated democdsl -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ca.mcgill.emf.democdsl.presentation.DemocdslModelWizardID"
            name="%_UI_DemocdslModelWizard_label"
            class="ca.mcgill.emf.democdsl.presentation.DemocdslModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DemocdslModelFile.gif">
         <description>%_UI_DemocdslModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated democdsl -->
      <editor
            id="ca.mcgill.emf.democdsl.presentation.DemocdslEditorID"
            name="%_UI_DemocdslEditor_label"
            icon="icons/full/obj16/DemocdslModelFile.gif"
            extensions="democdsl"
            class="ca.mcgill.emf.democdsl.presentation.DemocdslEditor"
            contributorClass="ca.mcgill.emf.democdsl.presentation.DemocdslActionBarContributor">
      </editor>
   </extension>

</plugin>
